body {
  margin: unset;
  background: linear-gradient(to right, rgb(171, 186, 171), rgb(255, 255, 255));

  .container {
    display: flex;
    flex-direction: column;
  }
}

@mixin BlurredContainer {
  margin: 2% 0;
  width: 100%;
  background: rgba(252, 250, 250, 0.15);
  border: 2px solid rgba(255, 255, 255, 0.4);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
}