.header {
  padding: 0 43%;
  box-sizing: border-box;
  top: 0;
  height: 8%;
  width: 100%;
  background-color: white;
  box-shadow: 0 1px 4px rgb(0 0 0 / 22%);

  p {
    color: #48a4ab;
    font-family: "DejaVu Sans Mono", monospace;
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    border-bottom: 0.8px solid rgb(187, 192, 187);
  }
}