.tableWrapper {
  margin: 0 12%;

  table {
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    border-spacing: 0 6px;
    border-collapse: separate;
    border-radius: 8px;

    .tableHeader {
      background-color: #91b9b0;

      th {
        font-weight: 400;
        font-size: 20px;
        color: white;
        border-right: 1px solid #9eada6;

        &:first-of-type {
          border-radius: 8px 0 0 8px;
          padding-left: 27px;
        }

        &:last-of-type {
          border-radius: 0 8px 8px 0;
          padding-right: 27px;
          border: none;
        }
      }
    }

    .tableBody {
      &:before {
        height: 8px;
        display: table-row;
        content: "";
      }

      tr {
        height: 70px;
        background: #fdfdfd4a;
        box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;;
        border: 1px solid grey;
        border-radius: 8px;

        .tableItemLink {
          span {
            cursor: pointer;
            padding: 28px 40px;
          }

          a {
            text-decoration: none;
            color: black;
          }
        }

        td {
          text-align: center;
          vertical-align: middle;
          font-size: 17px;
          border: 0;

          &:first-of-type {
            border-radius: 8px 0 0 8px;
            padding-left: 24px;
          }

          &:last-of-type {
            border-radius: 0 8px 8px 0;
            padding-right: 24px;
          }
        }
      }
    }
  }
}